<div id="header">
	<%= image_tag "benjii_logo.png", width: "100" %>
</div>

<div id="main">
	<div class="header-info">
		<h1>Benjii if Financial Reporting for the Future</h1>
		<h2>Better financial reporting</h2>
		<p>Empowering underserved communities by strengthening underserved people</p>
	</div>
</div>

	
<section id="call-to-action">
	<h2>Sign up for our Private Beta</h2>
	<%= form_for @email do |f| %>
	<%= f.text_field :content, class: "form-control", placeholder: "Email" %>
	<%= f.submit 'Submit', class: "btn btn-primary" %>
	<% end %>

</section>

<section id="about" class="container">
	<h1>About Benjii</h1>

	<p>Benjii believes in the power of underserved communities. We know that providing a solution to a neglected community's agonizing problem resonates with them because them because they have been craving to be heard for so long. We see they ecstatically love and support our products and services because we alleviate frustration and improve their lives.</p>
</section>

<section id="how-it-works">
	<div class="container">
		<h1>What we are building?</h1>
		<p>Our suite of products and services includes a desktop platform that allows access to financial services that help them grow and sustain their business. Currently, we are working on providing financial statements that are created by licensed CPAs and tax return preparation that are reviewd and revised by licensed CPAs. Our product road map includes providing ways to educate minority business owners about what financial metrics are important when analyzing their business, creating a mobile application, and utilizing banks/lending institutions finance requirements to develop assessment tools.</p>
	</div>
</section>

<section id="testimonials" class="container">
	<h2>What Our Clients Says</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, aliquid temporibus maxime perspiciatis aliquam laudantium at sequi sed voluptates hic exercitationem quisquam atque tempora vitae nesciunt architecto repellat officiis. Tenetur!</p>
</section>

<section id="press">
	<div class="container">
			<h2>As seen in</h2>
	<div class="row">
		<col-lg-4> <img src="http://s3.amazonaws.com/crunchbase_prod_assets/assets/images/resized/0001/0576/10576v3-max-250x250.jpg" alt="" width="200"> </col-lg-4>
		<col-lg-4> <img src="http://s3.amazonaws.com/crunchbase_prod_assets/assets/images/resized/0001/0576/10576v3-max-250x250.jpg" alt="" width="200"> </col-lg-4>
		<col-lg-4> <img src="http://s3.amazonaws.com/crunchbase_prod_assets/assets/images/resized/0001/0576/10576v3-max-250x250.jpg" alt="" width="200"> </col-lg-4>
	</div>

	</div>

</section>

<div id="footer">
	<p>Benjii</p>
	<a href="http://twitter.com/getbenjii"><i class="fa fa-twitter fa-3x"></i></a>
	<a href="http://facebook.com/benjiicompany"><i class="fa fa-facebook fa-3x"></i></a>
	<a href="http://linkedin.com/company/benjii-inc-?trk=company_logo"><i class="fa fa-linkedin-square fa-3x"></i></a>
</div>