

<div id="header">
<img src="/images/benjii_logo.png" alt="Benjii" width="175px" >

new.erb
</div>








<div id="main">




<%= form_for @email do |f| %>
	<%= f.label :Email %>
	<%= f.text_field :content %>
	<%= f.submit %>
	<% end %>
	



</div>





<div id="footer">
	<p>Made in NYC with Detroit Love</p>
	<a href="http://twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
	<a href="http://facebook.com/benjiicompany"><i class="fa fa-facebook fa-3x"></i></a>
	<a href="http://linkedin.com/company/benjii-inc-?trk=company_logo"><i class="fa fa-linkedin-square fa-3x"></i></a>
</div>